<section class="panel panel-default">
    <div class="panel-heading">
        <strong><span class="fa fa-th"></span> <%= _.capitalize(pluralize(name)) %></strong>
    </div>
    <div class="panel-body">
        <button class="btn btn-primary" ng-click="create()"><span class="fa fa-plus"></span> Create a new <%= _.capitalize(name) %></button>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <% _.each(attrs, function (attr) { %>
                        <th>
                            <%= attr.attrName %>
                        </th>
                        <% }); %>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="<%= name %> in <%= pluralize(name) %>">
                        <td>
                            {{<%= name %>.id}}
                        </td>
                        <% _.each(attrs, function (attr) { %>
                        <td>
                            {{<%= name %>.<%= attr.attrName.replace(" ", "_").toLowerCase() %> <% if (attr.attrType === 'Date') { %> | date:'yyyy-MM-dd'<% } %>}}
                        </td>
                        <% }); %>
                        <td>
                            <button class="btn" ng-click="update(<%= name %>.id)" type="submit"><span class="fa fa-pencil"></span> Edit</button>
                            <button class="btn btn-danger" ng-click="delete(<%= name %>.id)" type="submit"><span class="fa fa-trash"></span> Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>